Language:        Cpp
BasedOnStyle:    Google
# Only allow single-line functions if they are inlined in class definition
AllowShortFunctionsOnASingleLine: Inline
# Do not force new line after template declarations
AlwaysBreakTemplateDeclarations: false
# Automatically detect whether a given function's arguments are one-per-line
ExperimentalAutoDetectBinPacking: true
# Use C++11 standard
Standard: Cpp11
# Prevent automatic include sorting
SortIncludes: Never