---
Language:        Cpp
BasedOnStyle:  Google
# only allow single line functions if they are inlined in class def'n
AllowShortFunctionsOnASingleLine: Inline
# do not force new line after template declarations
AlwaysBreakTemplateDeclarations: false
# Automatically detect whether a given fuction's arguments are one-per-line
ExperimentalAutoDetectBinPacking: true
# Use C++11 standard
Standard:        Cpp11
...

