*.sw*
*.orig
build
debug
doxygen.conf
suffix.h
*.pdf
*.pyc
*.dvi
*.toc
*.aux
*.out
*.log
*.bbl
*.blg
*.log
*.spl
*~
*#
#*
*.zip
*.html
*.tex
src/Core/Utility/Env.cpp
src/cyclus_nuc_data.h5
stubs/stub_version.h
src/env.cc
src/version.cc
share/cyclus_nuc_data.h5
src/pyne_decay.h
src/pyne_decay.cc
src/hdf5_back.cc
share/dbtypes.json
tests/db.h5
