*.sw*
*.orig
build
debug
doxygen.conf
suffix.h
*.pdf
*.pyc
*.dvi
*.toc
*.aux
*.out
*.log
*.bbl
*.blg
*.log
*.spl
*~
*#
#*
*.zip
*.tex
src/Core/Utility/Env.cpp
src/cyclus_nuc_data.h5
stubs/stub_version.h
src/env.cc
src/version.cc
share/cyclus_nuc_data.h5
src/pyne_decay.h
src/pyne_decay.cc
src/hdf5_back.cc
src/hdf5_back.h
share/dbtypes.json
tests/db.h5
cyclus/cpp_typesystem.pxd
cyclus/typesystem.pxd
cyclus/typesystem.pyx
tests/libcyclus-orig.h5
tests/libcyclus-orig.sqlite
tests/libcyclus-test.h5
tests/libcyclus-test.sqlite
rs.cred

# Docker stuff
build-local/
Debug/

# generated cython ignores
*.cc.gen
*.cc.h
*.h.gen
src/eventhooks.cc
src/eventhooks.h
src/pyinfile.cc
src/pyinfile.h
src/pymodule.cc
src/pymodule.h

# this is copied over by the installer
cyclus/cycpp.py