name: Publish Cyclus Release

on:
  release:
    types: [published, created, edited]

jobs:
  build-and-test-for-release:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        ubuntu_versions : [
          20.04,
          22.04,
        ]
        pkg_mgr : [
          apt,
          conda
        ]

    name: Installing Dependencies, Building cyclus and running tests
    steps:
      - name: default environment
        run: |
            echo "tag-latest-on-default=false" >> "$GITHUB_ENV"
    
      - name: condition on trigger parameters
        if: ${{ github.repository_owner == 'cyclus' }}
        run: |
            echo "tag-latest-on-default=true" >> "$GITHUB_ENV"
    
      - name: Log in to the Container registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Installing Dependencies in Docker image
        uses: firehed/multistage-docker-build-action@v1
        with:
          repository: ghcr.io/${{ github.repository_owner }}/cyclus_${{ matrix.ubuntu_versions }}_${{ matrix.pkg_mgr }}_${{ github.ref }}
          stages: ${{ matrix.pkg_mgr }}-deps, cyclus
          server-stage: cyclus-test
          quiet: false
          parallel: true
          tag-latest-on-default: ${{ env.tag-latest-on-default }}
          dockerfile: docker/Dockerfile
          build-args: pkg_mgr=${{ matrix.pkg_mgr }}, ubuntu_version=${{ matrix.ubuntu_versions }}
